// content 文字排版 圖片 圖片區塊 套用變數
html{
  color:white;
}
.bg {
  background-image: url(../image/pexels-min-an-689326.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.2;
  z-index: -5;
}
.header {
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 100;
@include xs{
  width: 100%;
}
}
.clear-fix {
  clear: both;
}
.hover-bg{
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) .1s;
  &:hover{
    background: #3cbbaa;
    color: black;
  }
}
.ham {
  float: right;
}
.menu-toggler {
  padding: 24px;
  display: block;
  padding-top: 26px;
}
.menu-toggler span {
  width: 32px;
  height: 2px;
  background-color: white;
  // opacity: 0.9;
  display: block;
  margin-bottom: 8px;
}
.menu-toggler:hover span:nth-child(1) {
  transform: translateX(-20%);
}
.menu-toggler:hover span:nth-child(3) {
  transform: translateX(20%);
}
.popup-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 10000000;
}
.popup_xs{
  @include xs{
    width: 100%;
  }
}
#popup-overlay:target {
  opacity: 1;
  visibility: visible;
}

.popup-menu_close {
  width: 80px;
  height: 80px;
  padding: 24px;
  float: right;
  transition: all 0.3s;
  position: relative;
}
.popup-menu_close:hover {
  transform: rotate(180deg);
}
.popup-menu_close:hover span {
  background-color: $secondary-color;
}
.popup-menu_close span {
  width: 34px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
}
.popup-menu_close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.popup-menu_close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.clear-fix:before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.popup-menu-item {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  font-family: $main-font;
  font-weight: bold;
  line-height: 200%;
  transition: all 0.3s;
  color: white;

  @include md{
    font-size: 1.5rem;
  }

}
.popup-menu-item:hover {
  color: $secondary-color;
}
.heading {
  display: flex;
  justify-content: center;
  font-family: $Arial-black;
  color: white;
  font-size: 2.5rem;
  text-align: left;
  line-height: 200%;
  @include xs{
    font-size: 1.5rem;
  }
  @include lg{
    font-size: 1.5rem;
  }
}
.b{
  border:1px solid black;
}
.heading_bg {
  border: 1px solid black;
  // float: right;
  position: absolute;
  // left: 50%;
  // transform: translate(-50%);
  top: 80px;
  background-image: url(../image/model.png);
  background-repeat: no-repeat;
  // background-size: 200px;
  // background-position: top 50% right 20px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  z-index: -1;
  clear: both;
  @include xs{
    background-position:top 45% right 5%;
    background-size: 100px;
  }
  @include lg{
    background-position:top 45% right 5%;
    background-size: 150px;
  }
}
.head_model{
  width: 30%;
  vertical-align: bottom;
  float: right;
  object-position: right bottom;
}
.btn {
  display: inline-block;
  height: 30px;
  padding: 0px 20px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  outline: none;
  @include xs{
    font-size: 1rem;
  }
  @include lg{
    font-size: 1rem;
  }
}
.icon_color {
  background: #3cbbaa;
  transition: .3s;
  &:hover{
    background: $primary-color;
    a{
      color:#3cbbaa;
    }
  }
}
.icon_contact {
  display: block;
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  color: $primary-color;
  font-family: $Arial-black;
  &:hover{
    color:#3cbbaa;
  }
}
.about,
.work {
  background-color: #c0c0c0;
  z-index: 1;
}
.about_icon {
  display: block;
  margin: auto;
  width: 35px;
  height: 35px;
}
.about_content_p{
  color:$white;
}
.about_content_p,
.about_content_from,
.work_content,
.contact_content {
  font-family: $main-font;
  font-weight: bold;
  line-height: 200%;
  @include xs{
    font-size: 0.9rem;
  }
  @include lg{
    font-size: 0.9rem;
  }
}
.work_h2{
  font-size: 1.2rem;
  @include xs{
    font-size: 1rem;
  }
  @include lg{
    font-size: 1rem;
  }
}

.arrow-up {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 10;
  display: none;
}
.arrow-up_img {
  width: 35px;
  height: 35px;
}
.about_slide {
  width: 30px;
  height: 60px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.about_slide::after,
.about_slide::before{
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  top: 30%;
  left: 50%;
   border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  transform: translate(-50%,-100%) rotate(45deg);
  animation: scroll-down 1s ease-in-out infinite;
}
.about_slide::after{
  top: 30%;
  animation-delay: .3s;
}
@keyframes  scroll-down{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top:90%;
  }
}
.icon-size {
  width: 30px;
  height: 30px;
}
.t-color {
  color: $white;
}
.skill{
  @include md{
    padding: 40px 0;
  }
}
.skill_h1,
.skill_p,
.experience_h1,
.experience_p,
.work_h1,
.contact_h1,
.footer-p,
.contact_card_h2
{
  font-family: $main-font;
  font-weight: bold;
}
.skill_card_p{
  color:gray;
  padding: 2rem;
}
.timeline-center {
  width: 3px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 3px 3px 10px gray;
  @include xs{
    left: 5%;
  }
  @include lg{
    left: 5%;
  }
}
.timeline-card {
  width: calc(50% - 24px);
  height: 150px;
  background-color: #fff;
  position: relative;
  box-shadow: 3px 3px 10px black;
  @include xs{
    width: 300px;
  }
  @include lg{
    width: 90%;
    margin: 0 auto;
  }
}
.right {
  display: flex;
  justify-content: flex-end;
  @include xs{
    padding: 30px;
  }
  @include lg{
    padding: 30px;
  }
}
.left {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  @include xs{
    justify-content: flex-end;
  }
  @include lg{
    justify-content: flex-end;
  }
}
.timeline-card::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 3px 3px 10px gray;
}
.timeline-cards:nth-child(even) > ::before {
  right: -33px;
  @include xs{
    left: -35px;
  }
  @include sm{
    left: -35px;
  }
  @include lg{
    left: -35px;
  }
}
.timeline-cards:nth-child(odd) > ::before {
  left: -33px;

  @include xs{
    left: -35px;
  }
  @include sm{
    left: -35px;
  }
  @include lg{
    left: -35px;
  }
}

.timeline-group {
  width: 70%;
  margin: auto;
  position: relative;
  @include xs{
    width: 100%;
  }
  @include lg{
    width: 100%;
  }
  @include xl{
    width: 100%;
  }
}
.work-container {
  width: 50%;
  margin: auto;
  @include xs{
    width: 90%;
  }
  @include lg{
    width: 90%;
  }
}
.work_content {
  width: 40%;
  height: 300px;
  line-height: 300%;
  @include xs {
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
  } 
  @include lg {
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
  }
}
.work_picture {
  background-image: url("../image/imgbox4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 35%;
  float: right;
  @include xs{
    width: 90%;
    display: block;
    margin: auto;
    height: 200px;
    float: none;
  }
  @include lg{
    width: 90%;
    display: block;
    margin: auto;
    height: 200px;
    float: none;
  }
}
.work {
  position: relative;
}
.line-QRCODE_img {
  width: 100px;
  height: 100px;
  @include xs{
    display: block;
    margin: 0 auto;
  }
}
.contact_content {
  text-align: right;
}
.footer-p {
  opacity: 0.8;
}
.xs-db{
  @include xs{
    display: block;
  }
}
.box{
  width: 40%;
}
.box2{
  width: 40%;
  display: flex;
  align-items: flex-end;
}

.box2 img {
  object-position: right bottom;
}
.skill_card{
  line-height: 2rem;
  width: 250px;
  padding: 30px 0px 0px 0px;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 5px 15px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 20px 15px;
  overflow: hidden;
  position: relative;
  &:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    transform: translateY(-5px);
  }
}
.skill_card_footer{
  background-color: #fff;
  height: 100%;
}
.skill_logo{
  text-align: center;
}
.skill_inner{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0,0,0,0.4) 2px 2px 5px 0px,
  rgba(0,0,0,0.2) 2px 2px 5px 0px inset;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%,0%);
}
.skill_h2{
  padding: 10px 0 5px 0;
  text-align: center;
}
.t-shadow{
  text-shadow: 0.1em 0.1em gray;
}
.contact_card{
  width: 50%;
  margin: 0 auto;
  background-color: gray;
  border-radius:5px;
  box-shadow: 5px 15px 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 2rem;
  padding-top: 80px;
  position: relative;
  &:hover{
    transition: all .5s;
    transform: translateY(-5px);
  }
}
.contact_card_model{
  border: 2px solid white;
  border-radius: 50%;
  background-color: gray;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top:-50px;
  left: 50%;
  transform: translate(-50%,0%);
  padding: 10px;
}
.contact_footer{
  background-color: white;
  color:gray;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
.contact_card_inner {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 30px 5px;
  &:hover{
    background-color: #c0c0c0;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;

  }
}
.work_card::after{
  content: "";
  box-shadow: 0px 50px 50px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.work_card{
  position: relative;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #fff;
  &:hover .work_card_mask{
    opacity: 1;
  background: rgba(101, 101, 101, 0.6);

    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
  }
}
.work_card img{
  border-radius: 5px;
}
.work_card_mask{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background: rgba(101, 101, 101, 0.6);
  // 如果把rgba寫在這不是hover會被擋到 無法使用a
  color: #ffffff;
  opacity: 0;
}
.va-b{
  vertical-align: bottom;
}