// content 文字排版 圖片 圖片區塊 套用變數
.bg {
  background-image: url(../image/pexels-min-an-689326.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.2;
  z-index: -5;
}
.header {
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 100;
@include xs{
  width: 100%;
}
}
.clear-fix {
  clear: both;
}
.nav {
  float: left;
}
.nav a {
  padding: 24px;
  display: block;
}
.icon {
  opacity: 0.9;
}
.hover-rotate{
  &:hover{
    transform:rotateY(180deg);
  }
}
.hover-bg{
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) .1s;
  &:hover{
    background: #fff;
    color: black;
  }
}
.ham {
  float: right;
}
.menu-toggler {
  padding: 24px;
  display: block;
  padding-top: 26px;
}
.menu-toggler span {
  width: 32px;
  height: 2px;
  background-color: white;
  // opacity: 0.9;
  display: block;
  margin-bottom: 8px;
}
.menu-toggler:hover span:nth-child(1) {
  transform: translateX(-20%);
}
.menu-toggler:hover span:nth-child(3) {
  transform: translateX(20%);
}
.popup-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 10000000;
}
.popup_xs{
  @include xs{
    width: 100%;
  }
}
#popup-overlay:target {
  opacity: 1;
  visibility: visible;
}

.popup-menu_close {
  width: 80px;
  height: 80px;
  padding: 24px;
  float: right;
  transition: all 0.3s;
  position: relative;
}
.popup-menu_close:hover {
  transform: rotate(180deg);
}
.popup-menu_close:hover span {
  background-color: $secondary-color;
}
.popup-menu_close span {
  width: 34px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
}
.popup-menu_close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.popup-menu_close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.clear-fix:before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.popup-menu-item {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  font-family: $main-font;
  font-weight: bold;
  line-height: 200%;
  transition: all 0.3s;
  color: white;

  @include md{
    font-size: 1.5rem;
  }

}
.popup-menu-item:hover {
  color: $secondary-color;
}
.heading {
  font-family: $Arial-black;
  color: white;
  font-size: 2.5rem;
  text-align: left;
  line-height: 200%;
  @include xs{
    font-size: 1.5rem;
  }
  @include lg{
    font-size: 1.5rem;
  }
}
.heading_bg {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 80px;
  background-image: url(../image/model.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: top 50% right 20px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  z-index: -1;
  @include xs{
    background-position:top 45% right 5%;
    background-size: 100px;
  }
  @include lg{
    background-position:top 45% right 5%;
    background-size: 150px;
  }
}

.btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  outline: none;
  @include xs{
    font-size: 1rem;
  }
  @include lg{
    font-size: 1rem;
  }
}
.icon_color {
  background: #3cbbaa;
  transition: .3s;
  &:hover{
    background: $primary-color;
  }
}
.icon_contact {
  display: block;
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  color: $primary-color;
  font-family: $Arial-black;
  &:hover{
    color:#3cbbaa;
  }
}
.about,
.work {
  background-color: #c0c0c0;
  z-index: 1;
}
.about_icon {
  display: block;
  margin: auto;
  width: 35px;
  height: 35px;
}
.about_content_p,
.about_content_from,
.work_content,
.contact_content {
  font-family: $main-font;
  font-weight: bold;
  line-height: 200%;
  @include xs{
    font-size: 0.9rem;
  }
  @include lg{
    font-size: 0.9rem;
  }
}
.work_h2{
  font-size: 1.2rem;
  @include xs{
    font-size: 1rem;
  }
  @include lg{
    font-size: 1rem;
  }
}
.from_color {
  color: $light-blue;
}
.arrow-up {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 10;
}
.arrow-up_img {
  width: 35px;
  height: 35px;
}
.about_slide {
  width: 30px;
  height: 60px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.about_slide::after,
.about_slide::before{
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  top: 30%;
  left: 50%;
   border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  transform: translate(-50%,-100%) rotate(45deg);
  animation: scroll-down 1s ease-in-out infinite;
}
.about_slide::after{
  top: 30%;
  animation-delay: .3s;
}
@keyframes  scroll-down{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top:90%;
  }
}
.skill-card {
  padding: 24px;
  margin: 30px;
  position: relative;
  width: 40%;
  background-color: #fff;
  box-shadow: 3px 3px 10px gray;
  border-radius: 5px;
  @include xs{
    width: 100%;
    padding: 14px;
    margin: 15px;
  }
  @include lg{
    width: 100%;
    padding: 14px;
    margin: 15px;
  }
  @include xxl{
    padding: 14px;
    margin: 15px;
  }
}
.skill-card__inner {
  padding-left: 30px;
}
.skill-card__icon {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 10px gray;
}
.icon-size {
  width: 30px;
  height: 30px;
}
.t-color {
  color: $white;
}
.skill_h1,
.experience_h1,
.experience_p,
.work_h1,
.contact_h1,
.footer-p {
  font-family: $main-font;
  font-weight: bold;

}
.timeline-center {
  width: 3px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 3px 3px 10px gray;
  @include xs{
    left: 5%;
  }
  @include lg{
    left: 5%;
  }
}
.timeline-card {
  width: calc(50% - 24px);
  height: 150px;
  background-color: #fff;
  position: relative;
  box-shadow: 3px 3px 10px black;
  @include xs{
    width: 300px;
  }
  @include lg{
    width: 90%;
    margin: 0 auto;
  }
}
.right {
  display: flex;
  justify-content: flex-end;
  @include xs{
    padding: 30px;
  }
  @include lg{
    padding: 30px;
  }
}
.left {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  @include xs{
    justify-content: flex-end;
  }
  @include lg{
    justify-content: flex-end;
  }
}
.timeline-card::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 3px 3px 10px gray;
}
.timeline-cards:nth-child(even) > ::before {
  right: -33px;
  @include xs{
    left: -35px;
  }
  @include sm{
    left: -35px;
  }
  @include lg{
    left: -35px;
  }
}
.timeline-cards:nth-child(odd) > ::before {
  left: -33px;

  @include xs{
    left: -35px;
  }
  @include sm{
    left: -35px;
  }
  @include lg{
    left: -35px;
  }
}

.timeline-group {
  width: 70%;
  margin: auto;
  position: relative;
  @include xs{
    width: 100%;
  }
  @include lg{
    width: 100%;
  }
  @include xl{
    width: 100%;
  }
}
.work-container {
  width: 50%;
  margin: auto;
  @include xs{
    width: 90%;
  }
  @include lg{
    width: 90%;
  }
}
.work_content {
  width: 40%;
  height: 300px;
  line-height: 300%;
  @include xs {
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
  } 
  @include lg {
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
  }
}
.work_picture {
  background-image: url("../image/imgbox4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 35%;
  float: right;
  @include xs{
    width: 90%;
    display: block;
    margin: auto;
    height: 200px;
    float: none;
  }
  @include lg{
    width: 90%;
    display: block;
    margin: auto;
    height: 200px;
    float: none;
  }
}
.work {
  position: relative;
}
.leaf-right {
  background-image: url("../image/leaf.png");
  background-size: cover;
  height: 300px;
  width: 300px;
  position: absolute;
  right: 0;
  top: 20px;
  opacity: 0.8;
  z-index: -100;
  @include xs {
    display: none;
  }
  @include md {
    display: none;
  }
}
.leaf-left {
  background-image: url("../image/leaf2.png");
  background-size: cover;
  height: 300px;
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: -100;
  @include xs{
    display: none;
  }
  @include lg{
    display: none;
  }
}
.line-QRCODE_img {
  width: 100px;
  height: 100px;
  @include xs{
    display: block;
    margin: 0 auto;
  }
}
.contact_content {
  text-align: right;
}
.footer-p {
  opacity: 0.8;
}
.xs-db{
  @include xs{
    display: block;
  }
}