// 排版 容器 間隔 display & flexbox
.w-100 {
  width: 100%;
}
.w-40{
  width: 40%;
}
.w-50{
  width: 50%;
}
.w-70{
  width: 70%;
}
.w-80 {
  width: 80%;
}
.h-100{
  height: 100%;
}
.container-fluid {
  width: 80%;
  margin: 0 auto;
}
.container {
  width: 60%;
  margin: 0 auto;
  @include xs{
    width: 90%;
  }
  @include sm{
    width: 90%;
  }
  @include md{
    width: 90%;
  }
  
}

.m-auto {
  margin: 0 auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-30 {
  margin-top: 30px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-80 {
  margin-bottom: 80px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-130{
  padding-top: 130px;
}
.pt-20{
  padding-top: 20%;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pr-65 {
  padding-right: 65px;
}
.pt-50vh {
  padding-top: 50vh;

}
.pb-20vh {
  padding-bottom: 20vh;
}
.d-i {
  display: inline;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.d-g {
  display: grid;
}
.d-t {
  display: table;
}
.d-t-r {
  display: table-row;
}
.d-t-c {
  display: table-cell;
}
.d-f {
  display: flex;
}
.d-i-f {
  display: inline-flex;
}
.d-n {
  display: none;
}
.j-start {
  justify-content: flex-start;
}
.j-end {
  justify-content: flex-end;
}
.jcsb {
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
.jcc{
  justify-content: center;
}
.ai-c{
  align-items: center;
}
.fw-w {
  flex-wrap: wrap;
}
.f-start {
  float: left;
}
.f-end {
  float: right;
}
.f-none {
  float: none;
}
.clearfix {
  clear: both;
}
.ta-c {
  text-align: center;
}
.ta-l{
  text-align: left;
}
.fz-1_5rem {
  font-size: 1.5rem;
}
.fz-14{
  font-size: 14px;
}
.p-f{
  position: fixed;
}
.p-r{
  position: relative;
}
.p-a{
  position: absolute;
}
.top-0{
  top: 0;
}
.left-0{
  left: 0;
}
.top-center{
  top: 50%;
}
.left-center{
  left: 50%;
}
.clear-fix {
  clear: both;
}
.clear-fix:before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.b{
  border:1px solid black;
}
.va-b{
  vertical-align: bottom;
}
.border-r-5{
  border-radius: 5px;
}
.border-r-10{
  border-radius: 10px;
}
.border-circle{
  border-radius: 50%;
}