// // 顏色 start
$primary-color: #e5e1e6;
$secondary-color: #3ab8a7;
// end

// 配色start
$light-blue: #39b3a4;
$bright-blue: #e0dae2;
$earth-color: #c0986e;
// end
// timelinecolor start
$skin-color: #d1c0a5;
$deep-skin: #f19149;
$light-pink: #eb6877;
// end

//字體 Start
$main-font: "微軟正黑體";
$secondary-font: "微軟正黑體 Regular";
$Arial-700: "Arial 700";
$Arial-500: "Arial 500";
$Arial-black: "Arial black";
// 字體 end

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$white: #fff;
$gray: gray;