@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.container-fluid {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.m-auto {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-30 {
  margin-top: 30px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-20 {
  padding-top: 20%;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pr-65 {
  padding-right: 65px;
}

.pt-50vh {
  padding-top: 50vh;
}

.pb-20vh {
  padding-bottom: 20vh;
}

.d-i {
  display: inline;
}

.d-ib {
  display: inline-block;
}

.d-b {
  display: block;
}

.d-g {
  display: -ms-grid;
  display: grid;
}

.d-t {
  display: table;
}

.d-t-r {
  display: table-row;
}

.d-t-c {
  display: table-cell;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-i-f {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.d-n {
  display: none;
}

.j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-start {
  float: left;
}

.f-end {
  float: right;
}

.f-none {
  float: none;
}

.clearfix {
  clear: both;
}

.ta-c {
  text-align: center;
}

.fz-1_5rem {
  font-size: 1.5rem;
}

.fz-14 {
  font-size: 14px;
}

html {
  color: white;
}

.bg {
  background-image: url(../image/pexels-min-an-689326.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.2;
  z-index: -5;
}

.header {
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 100;
}

@media (max-width: 375px) {
  .header {
    width: 100%;
  }
}

.clear-fix {
  clear: both;
}

.hover-bg {
  -webkit-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
}

.hover-bg:hover {
  background: #3cbbaa;
  color: black;
}

.ham {
  float: right;
}

.menu-toggler {
  padding: 24px;
  display: block;
  padding-top: 26px;
}

.menu-toggler span {
  width: 32px;
  height: 2px;
  background-color: white;
  display: block;
  margin-bottom: 8px;
}

.menu-toggler:hover span:nth-child(1) {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.menu-toggler:hover span:nth-child(3) {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.popup-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10000000;
}

@media (max-width: 375px) {
  .popup_xs {
    width: 100%;
  }
}

#popup-overlay:target {
  opacity: 1;
  visibility: visible;
}

.popup-menu_close {
  width: 80px;
  height: 80px;
  padding: 24px;
  float: right;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.popup-menu_close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popup-menu_close:hover span {
  background-color: #3ab8a7;
}

.popup-menu_close span {
  width: 34px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
}

.popup-menu_close span:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-menu_close span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.clear-fix:before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.popup-menu-item {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  font-family: "微軟正黑體";
  font-weight: bold;
  line-height: 200%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
}

@media (max-width: 768px) {
  .popup-menu-item {
    font-size: 1.5rem;
  }
}

.popup-menu-item:hover {
  color: #3ab8a7;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Arial black";
  color: white;
  font-size: 2.5rem;
  text-align: left;
  line-height: 200%;
}

@media (max-width: 375px) {
  .heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .heading {
    font-size: 1.5rem;
  }
}

.b {
  border: 1px solid black;
}

.heading_bg {
  border: 1px solid black;
  position: absolute;
  top: 80px;
  background-image: url(../image/model.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-width: 800px;
  z-index: -1;
  clear: both;
}

@media (max-width: 375px) {
  .heading_bg {
    background-position: top 45% right 5%;
    background-size: 100px;
  }
}

@media (max-width: 992px) {
  .heading_bg {
    background-position: top 45% right 5%;
    background-size: 150px;
  }
}

.head_model {
  width: 30%;
  vertical-align: bottom;
  float: right;
  -o-object-position: right bottom;
     object-position: right bottom;
}

.btn {
  display: inline-block;
  height: 30px;
  padding: 0px 20px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  outline: none;
}

@media (max-width: 375px) {
  .btn {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .btn {
    font-size: 1rem;
  }
}

.icon_color {
  background: #3cbbaa;
  -webkit-transition: .3s;
  transition: .3s;
}

.icon_color:hover {
  background: #e5e1e6;
}

.icon_color:hover a {
  color: #3cbbaa;
}

.icon_contact {
  display: block;
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  color: #e5e1e6;
  font-family: "Arial black";
}

.icon_contact:hover {
  color: #3cbbaa;
}

.about,
.work {
  background-color: #c0c0c0;
  z-index: 1;
}

.about_icon {
  display: block;
  margin: auto;
  width: 35px;
  height: 35px;
}

.about_content_p {
  color: #fff;
}

.about_content_p,
.about_content_from,
.work_content,
.contact_content {
  font-family: "微軟正黑體";
  font-weight: bold;
  line-height: 200%;
}

@media (max-width: 375px) {
  .about_content_p,
  .about_content_from,
  .work_content,
  .contact_content {
    font-size: 0.9rem;
  }
}

@media (max-width: 992px) {
  .about_content_p,
  .about_content_from,
  .work_content,
  .contact_content {
    font-size: 0.9rem;
  }
}

.work_h2 {
  font-size: 1.2rem;
}

@media (max-width: 375px) {
  .work_h2 {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .work_h2 {
    font-size: 1rem;
  }
}

.arrow-up {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 10;
  display: none;
}

.arrow-up_img {
  width: 35px;
  height: 35px;
}

.about_slide {
  width: 30px;
  height: 60px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about_slide::after,
.about_slide::before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  top: 30%;
  left: 50%;
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  -webkit-transform: translate(-50%, -100%) rotate(45deg);
          transform: translate(-50%, -100%) rotate(45deg);
  -webkit-animation: scroll-down 1s ease-in-out infinite;
          animation: scroll-down 1s ease-in-out infinite;
}

.about_slide::after {
  top: 30%;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

@-webkit-keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

.icon-size {
  width: 30px;
  height: 30px;
}

.t-color {
  color: #fff;
}

@media (max-width: 768px) {
  .skill {
    padding: 40px 0;
  }
}

.skill_h1,
.skill_p,
.experience_h1,
.experience_p,
.work_h1,
.contact_h1,
.footer-p,
.contact_card_h2 {
  font-family: "微軟正黑體";
  font-weight: bold;
}

.skill_card_p {
  color: gray;
  padding: 2rem;
}

.timeline-center {
  width: 3px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 3px 3px 10px gray;
          box-shadow: 3px 3px 10px gray;
}

@media (max-width: 375px) {
  .timeline-center {
    left: 5%;
  }
}

@media (max-width: 992px) {
  .timeline-center {
    left: 5%;
  }
}

.timeline-card {
  width: calc(50% - 24px);
  height: 150px;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
}

@media (max-width: 375px) {
  .timeline-card {
    width: 300px;
  }
}

@media (max-width: 992px) {
  .timeline-card {
    width: 90%;
    margin: 0 auto;
  }
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 375px) {
  .right {
    padding: 30px;
  }
}

@media (max-width: 992px) {
  .right {
    padding: 30px;
  }
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px;
}

@media (max-width: 375px) {
  .left {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .left {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.timeline-card::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 3px 3px 10px gray;
          box-shadow: 3px 3px 10px gray;
}

.timeline-cards:nth-child(even) > ::before {
  right: -33px;
}

@media (max-width: 375px) {
  .timeline-cards:nth-child(even) > ::before {
    left: -35px;
  }
}

@media (max-width: 576px) {
  .timeline-cards:nth-child(even) > ::before {
    left: -35px;
  }
}

@media (max-width: 992px) {
  .timeline-cards:nth-child(even) > ::before {
    left: -35px;
  }
}

.timeline-cards:nth-child(odd) > ::before {
  left: -33px;
}

@media (max-width: 375px) {
  .timeline-cards:nth-child(odd) > ::before {
    left: -35px;
  }
}

@media (max-width: 576px) {
  .timeline-cards:nth-child(odd) > ::before {
    left: -35px;
  }
}

@media (max-width: 992px) {
  .timeline-cards:nth-child(odd) > ::before {
    left: -35px;
  }
}

.timeline-group {
  width: 70%;
  margin: auto;
  position: relative;
}

@media (max-width: 375px) {
  .timeline-group {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .timeline-group {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .timeline-group {
    width: 100%;
  }
}

.work-container {
  width: 50%;
  margin: auto;
}

@media (max-width: 375px) {
  .work-container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .work-container {
    width: 90%;
  }
}

.work_content {
  width: 40%;
  height: 300px;
  line-height: 300%;
}

@media (max-width: 375px) {
  .work_content {
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
  }
}

@media (max-width: 992px) {
  .work_content {
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
  }
}

.work_picture {
  background-image: url("../image/imgbox4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 35%;
  float: right;
}

@media (max-width: 375px) {
  .work_picture {
    width: 90%;
    display: block;
    margin: auto;
    height: 200px;
    float: none;
  }
}

@media (max-width: 992px) {
  .work_picture {
    width: 90%;
    display: block;
    margin: auto;
    height: 200px;
    float: none;
  }
}

.work {
  position: relative;
}

.line-QRCODE_img {
  width: 100px;
  height: 100px;
}

@media (max-width: 375px) {
  .line-QRCODE_img {
    display: block;
    margin: 0 auto;
  }
}

.contact_content {
  text-align: right;
}

.footer-p {
  opacity: 0.8;
}

@media (max-width: 375px) {
  .xs-db {
    display: block;
  }
}

.box {
  width: 40%;
}

.box2 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box2 img {
  -o-object-position: right bottom;
     object-position: right bottom;
}

.skill_card {
  line-height: 2rem;
  width: 250px;
  padding: 30px 0px 0px 0px;
  background-color: gray;
  border-radius: 10px;
  -webkit-box-shadow: 5px 15px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 5px 15px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 20px 15px;
  overflow: hidden;
  position: relative;
}

.skill_card:hover {
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.skill_card_footer {
  background-color: #fff;
  height: 100%;
}

.skill_logo {
  text-align: center;
}

.skill_inner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 5px 0px, rgba(0, 0, 0, 0.2) 2px 2px 5px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 5px 0px, rgba(0, 0, 0, 0.2) 2px 2px 5px 0px inset;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.skill_h2 {
  padding: 10px 0 5px 0;
  text-align: center;
}

.t-shadow {
  text-shadow: 0.1em 0.1em gray;
}

.contact_card {
  width: 50%;
  margin: 0 auto;
  background-color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 5px 15px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 5px 15px 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 2rem;
  padding-top: 80px;
  position: relative;
}

.contact_card:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.contact_card_model {
  border: 2px solid white;
  border-radius: 50%;
  background-color: gray;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  padding: 10px;
}

.contact_footer {
  background-color: white;
  color: gray;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.contact_card_inner {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 30px 5px;
}

.contact_card_inner:hover {
  background-color: #c0c0c0;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.work_card::after {
  content: "";
  -webkit-box-shadow: 0px 50px 50px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0px 50px 50px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.work_card {
  position: relative;
  border: 5px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
}

.work_card:hover .work_card_mask {
  opacity: 1;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.work_card img {
  border-radius: 5px;
}

.work_card_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(101, 101, 101, 0.6);
  color: #ffffff;
  opacity: 0;
}

.va-b {
  vertical-align: bottom;
}
/*# sourceMappingURL=all.css.map */