.top-bg{
    background-image: url("../image/bs5切圖/about_picture.png");
    background-size: contain;
    background-position: center;
    padding-top: 33.89%;
}
.slogan_p{
    line-height: 40px;
    font-size:1.5rem;
}
.slogan{
    bottom: -15%;
    left:20%;
    z-index: 20;
}
.slogan_date{
    right: 20%;
    bottom: 0;
}
.about_rightvh{
    height: calc(100vh - 212px);
}
.d{
    object-position: bottom !important;
}
.f{
    object-position:  -500px 0px !important;
    object-fit: cover !important;
}
// START jquery css
.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
//END jquery css