// gallery
.gallery_bg{
    background-image: url("../image/bs5切圖/gallery_picture.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    order: -1;
}
.gallery_p{
    right: 5%;
}
.brand_p{
    line-height: 200%;
}
.gallery_item{
    width: 1920px;
}
.gallery_img{
    width: 100%;
}