html{
  font-size: 16px;
  @include max-md{
    font-size: 10px;
  }
}
.h1{
    font-family: $main-font;
    font-weight: bold;
  }
.h2{
    font-family: $secondary-font;
  }
p{
  font-family: $Arial-700;
  line-height: 200%;
  a{
  line-height: 200%;
  }
}
.footer{
  background-color: rgba(220,220,220,0.5);
}
.footer_p{
  font-size: 0.5rem;
  color: black;
}
.resume_card{
  background:rgba(#B6E7D5,0.2);
  height: 500px;
  box-shadow: 30px 30px 5px  rgba(0, 0, 0, 0.2);
}
.list-group{
  @include max-md {
    width: 30%;
  }
  a{
    @include max-md{
      font-size: 14px;
    }
  }
}
.photo_stickers{
  z-index: 2;
}
.photo_stickers_img{
  width: 150px;
  @include max-md {
    width: 100px;
  }
}
