.blueBtn{
  background-color: blue;
  color:white;
  padding: 5px 10px;
  border: none;
  box-shadow: 3px 3px 0px blue;
  opacity: 0.9;
}
.removeBtn{
  background-color: red;
  color:white;
  padding: 2px;
  box-shadow: 2px 2px 2px red;
}
.moveWishBtn{
  background-color: gray;
  padding: 5px 10px;
  color: white;
  border: none;
  opacity: 0.7;
}
.checkoutBtn{
  border: none;
  color:white;
  padding: 5px 10px;
  background-color: red;
  box-shadow: 3px 3px 0px red;
}
.loginBtn{
  background-color: gray;
  padding: 5px 10px;
  color:white;
  width: 100px;
  text-align: center;
}