.box{
    height: 500px;
    width: 700px;
}
.box img{
    object-fit: contain;
}
// font-family: 'Inria Sans', sans-serif;
// font-family: 'Inter', sans-serif;
.font-Oswald{
    font-family: 'Oswald', sans-serif;
}
.banner_content_h2{
    font-family: 'Inria Sans', sans-serif;
}
.banner_content_p,
.btn_a{
    font-family: 'Inter', sans-serif;
}
.font-Inter{
    font-family: 'Inter', sans-serif;
}
.bgc-primary{
    background-color: #313549;
}
.bg-gray{
    background-color: rgba(192,192,192,.8);
}
.box-shadow-black{
    box-shadow:3px 3px 9px black;
}
.bgc-footer{
    background-color: #313030;
}
.grayCircle{
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    color: #313030;
}
.recommend{
    width: 40px;
    height: 25px;
    background-color: red;
    color:black;
    opacity: 0.8;
    display: inline-block;
    line-height: 25px;
}
.recommend_item{
    width: 100px;
    height: auto;
}
a{
    text-decoration: none;
    color: black;
}
.search{
    border:1px solid black;
    border-radius: 50px;
    padding: 0 10px;
}
.searchInput{
    outline: none;
    border: none;
}
.btn:hover {
    color:white;
    background-color: black;
    text-decoration: none;
}
.btn:hover a{
    color:white;
}
.navbar-nav a:hover{
    color:black;
}
.navName:hover{ 
    border-bottom: 1px solid black;
}
.recommend_close{
    width: 15px;
    height: 15px;
    display: block;
    position:absolute;
    overflow: hidden;
    top: 0;
}
.recommend_close span{
    display: block;
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: gray;
}
.recommend_close span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
}
.recommend_close span:nth-child(2){
    transform:rotate(-45deg);
    top: 50%;
}
.num{
    width: 15px;
    height: 15px;
    background-color: gray;
}
.navbar-toggler-icon{
    width: 1em;
    height: 1em;
}
.h-50px{
    height: 50px;
}
.text-gray{
    color:gray;
}
.overflow-scroll-y{
    overflow-y: scroll;
}